.landing {
  padding: 60px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing > .landingMiniGallery {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.landing > .landingMiniGallery > .left,
.landing > .landingMiniGallery > .right {
  width: 48%;
}

.landing > .landingMiniGallery > .left > img {
  max-width: 20vw;
}

.landing > .landingMiniGallery > .right > img:first-child {
  margin-bottom: 30px;
  width: 20vw;
}
.landing > .landingMiniGallery > .right > img:nth-child(2) {
  width: 20vw;
}

.landing > .landingContent {
  font-size: 55px;
  width: 50%;
  padding: 20px;
  line-height: 1.2;
}

.landing > .landingContent > p {
  font-size: 30px;
}

.landing > .landingContent > img {
  width: 100%;
}

.landing > .landingContent > p > a {
  text-decoration: none;
  color: #000;
}

@media (max-width: 1367px) {
  .landing > .landingMiniGallery > .right > img:first-child {
    margin-bottom: 25px;
  }
}

@media (max-width: 1200px) {
  .landing > .landingMiniGallery {
    width: 62%;
  }
  .landing > .landingContent {
    width: 38%;
  }

  .landing > .landingMiniGallery > .left > img {
    max-width: 25vw;
  }

  .landing > .landingMiniGallery > .right > img:first-child {
    margin-bottom: 30px;
    width: 20vw;
  }
  .landing > .landingMiniGallery > .right > img:nth-child(2) {
    width: 20vw;
  }

  .landing > .landingMiniGallery > .right > img:first-child {
    margin-bottom: 20px;
  }
}

@media (width: 1024px) {
  .landing {
    flex-direction: column;
  }
  .landing > .landingMiniGallery {
    width: 100%;
  }
  .landing > .landingContent {
    width: 100%;
    font-size: 50px;
  }

  .landing > .landingContent > p {
    font-size: 50px;
  }

  .landing > .landingMiniGallery > .left > img {
    max-width: 41vw;
  }

  .landing > .landingMiniGallery > .right > img:first-child {
    margin-bottom: 20px;
    width: 40vw;
  }
  .landing > .landingMiniGallery > .right > img:nth-child(2) {
    width: 30vw;
  }
}

@media (max-width: 992px) {
  .landing > .landingMiniGallery {
    width: 62%;
  }
  .landing > .landingContent {
    width: 38%;
    padding: 10px;
  }

  .landing > .landingMiniGallery > .left > img {
    max-width: 38vw;
  }

  .landing > .landingMiniGallery > .right > img:first-child {
    margin-bottom: 20px;
    width: 40vw;
  }
  .landing > .landingMiniGallery > .right > img:nth-child(2) {
    width: 30vw;
  }
}

@media (max-width: 768px) {
  .landing {
    flex-direction: column;
  }
  .landing > .landingMiniGallery {
    width: 100%;
  }
  .landing > .landingContent {
    width: 100%;
    font-size: 35px;
  }

  .landing > .landingContent > p {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .landing{
    padding: 50px;
  }
  .landing > .landingMiniGallery > .left > img {
    max-width: 38vw;
  }

  .landing > .landingMiniGallery > .right > img:first-child {
    margin-bottom: 15px;
    width: 40vw;
  }
  .landing > .landingMiniGallery > .right > img:nth-child(2) {
    width: 30vw;
  }
}

@media (max-width: 415px) {
  .landing {
    padding: 20px;
  }
  .landing > .landingMiniGallery {
    margin: 10px 0 0 0;
  }
  .landing > .landingMiniGallery > .left > img {
    max-width: 41vw;
  }
}

@media (max-width: 360px) {
  .landing {
    padding: 25px;
  }
  .landing > .landingMiniGallery {
    margin: 0;
  }
}

@media (max-width: 321px) {
  .landing {
    padding: 20px;
  }
  .landing > .landingMiniGallery {
    margin: 0;
  }
}
