.latestProduct {
  background: rgba(75, 207, 250, 0.2);
  padding: 50px 80px;
}

.latestProduct > h1 {
  padding: 0;
  margin: 0;
  font-weight: 400;
  margin-bottom: 60px;
}

.latestProduct > .latestProductTypes {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.latestProduct > .latestProductTypes > a {
  text-decoration: none;
  color: #000;
}

.latestProduct > .latestProductTypes .succulents,
.latestProduct > .latestProductTypes .nonSucculents {
  width: 43vw;
}

.latestProduct > .latestProductTypes .succulents {
  background: url("../../../Assets/Succulent.webp") no-repeat;
  border-radius: 12px;
  background-size: cover;
  height: 64vh;
  transition: all 0.7s ease-in-out;
}

.latestProduct > .latestProductTypes .succulents:hover {
  -webkit-box-shadow: 10px 10px 5px 4px rgba(217, 217, 217, 1);
  -moz-box-shadow: 10px 10px 5px 4px rgba(217, 217, 217, 1);
  box-shadow: 10px 10px 5px 4px rgba(217, 217, 217, 1);
}

.latestProduct > .latestProductTypes > .nonSucculents > .nonSucculentsTop {
  display: flex;
  justify-content: space-between;
}

.latestProduct > .latestProductTypes > .nonSucculents > .nonSucculentsTop > a {
  text-decoration: none;
  color: #000;
}

.latestProduct
  > .latestProductTypes
  > .nonSucculents
  > .nonSucculentsTop
  .outdoorPlants,
.latestProduct
  > .latestProductTypes
  > .nonSucculents
  > .nonSucculentsTop
  .plantPots {
  width: 20.5vw;
  height: 30vh;
  border-radius: 12px;
}

.latestProduct
  > .latestProductTypes
  > .nonSucculents
  > .nonSucculentsTop
  .outdoorPlants {
  background: url("../../../Assets/Outdoor.webp") no-repeat;
  background-size: cover;
  transition: all 0.7s ease-in-out;
}

.latestProduct
  > .latestProductTypes
  > .nonSucculents
  > .nonSucculentsTop
  .outdoorPlants:hover {
  -webkit-box-shadow: 10px 10px 5px 4px rgba(217, 217, 217, 1);
  -moz-box-shadow: 10px 10px 5px 4px rgba(217, 217, 217, 1);
  box-shadow: 10px 10px 5px 4px rgba(217, 217, 217, 1);
}

.latestProduct
  > .latestProductTypes
  > .nonSucculents
  > .nonSucculentsTop
  .plantPots {
  background: url("../../../Assets/Pot.webp") no-repeat;
  background-size: cover;
  transition: all 0.7s ease-in-out;
}

.latestProduct
  > .latestProductTypes
  > .nonSucculents
  > .nonSucculentsTop
  .plantPots:hover {
  -webkit-box-shadow: 10px 10px 5px 4px rgba(217, 217, 217, 1);
  -moz-box-shadow: 10px 10px 5px 4px rgba(217, 217, 217, 1);
  box-shadow: 10px 10px 5px 4px rgba(217, 217, 217, 1);
}

.latestProduct > .latestProductTypes > .nonSucculents > a {
  text-decoration: none;
  color: #000;
}

.latestProduct > .latestProductTypes > .nonSucculents .substrates {
  margin-top: 30px;
  background: url("../../../Assets/Substrate.webp") no-repeat;
  height: 30vh;
  background-size: cover;
  transition: all 0.7s ease-in-out;
}

.latestProduct > .latestProductTypes > .nonSucculents .substrates:hover {
  -webkit-box-shadow: 10px 10px 5px 4px rgba(217, 217, 217, 1);
  -moz-box-shadow: 10px 10px 5px 4px rgba(217, 217, 217, 1);
  box-shadow: 10px 10px 5px 4px rgba(217, 217, 217, 1);
}

@media (max-width: 1200px) {
  .latestProduct > .latestProductTypes .succulents,
  .latestProduct > .latestProductTypes .nonSucculents {
    width: 42vw;
  }

  .latestProduct
    > .latestProductTypes
    > .nonSucculents
    > .nonSucculentsTop
    .outdoorPlants,
  .latestProduct
    > .latestProductTypes
    > .nonSucculents
    > .nonSucculentsTop
    .plantPots {
    width: 19.5vw;
  }
}
@media (width: 1024px) {
  .latestProduct > .latestProductTypes .succulents,
  .latestProduct > .latestProductTypes .nonSucculents {
    width: 41vw;
  }
}

@media (max-width: 992px) {
  .latestProduct > .latestProductTypes .succulents,
  .latestProduct > .latestProductTypes .nonSucculents {
    width: 40vw;
  }

  .latestProduct
    > .latestProductTypes
    > .nonSucculents
    > .nonSucculentsTop
    .outdoorPlants,
  .latestProduct
    > .latestProductTypes
    > .nonSucculents
    > .nonSucculentsTop
    .plantPots {
    width: 18.5vw;
  }
}
@media (max-width: 768px) {
  .latestProduct > .latestProductTypes .succulents,
  .latestProduct > .latestProductTypes .nonSucculents {
    width: 38vw;
  }

  .latestProduct
    > .latestProductTypes
    > .nonSucculents
    > .nonSucculentsTop
    .outdoorPlants,
  .latestProduct
    > .latestProductTypes
    > .nonSucculents
    > .nonSucculentsTop
    .plantPots {
    width: 17.5vw;
  }
}
@media (max-width: 576px) {
    .latestProduct{
        padding: 30px;
    }
.latestProduct > .latestProductTypes {
    flex-direction: column;
}
  .latestProduct > .latestProductTypes .succulents,
  .latestProduct > .latestProductTypes .nonSucculents {
    width: 80vw;
  }
  .latestProduct > .latestProductTypes .succulents{
      margin-bottom: 30px;
  }

  .latestProduct
    > .latestProductTypes
    > .nonSucculents
    > .nonSucculentsTop
    .outdoorPlants,
  .latestProduct
    > .latestProductTypes
    > .nonSucculents
    > .nonSucculentsTop
    .plantPots {
    width: 37.5vw;
  }
}
