.intro {
  padding: 10px 80px 0 80px;
}

.intro > h1 {
  font-weight: 400;
  margin: 20px 0 30px 0;
}

.intro > .featuredProduct > .product {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro > .featuredProduct > .product > img {
  width: 20vw;
  margin: 0 auto;
}

.intro > .featuredProduct > .product > .productInfo {
  max-width: 50%;
  text-align: justify;
  line-height: 1.7;
}

.intro > .featuredProduct > .product > .productInfo > h3 {
  font-weight: 500;
}

.intro > .featuredProduct > .product > .productInfo > .plantPrice {
  margin: 20px 0;
  font-size: 20px;
}

.intro > .featuredProduct > .product > .productInfo > .MuiButton-root {
  background: #FF7675;
  color: #fff;
  padding: 10px 15px;
}

.intro > .featuredProduct > .product2 > .productInfo {
  text-align: right;
}

.intro > .featuredProduct > .product2{
    margin-top: 30px;
}

@media (max-width: 577px) {
  .intro {
    padding: 0 30px;
  }
  .intro > .featuredProduct > .product {
    flex-direction: column;
  }

  .intro > .featuredProduct > .product > .productInfo {
    max-width: 80vw;
    text-align: left;
  }
.intro > .featuredProduct > .product > img {
    width: 50vw;
}
}
